@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-container {
    @apply max-w-6xl mx-auto px-5;
  }

  .header-menu a {
    @apply
      inline-block
      bg-color-900 hover:bg-color-800 md:bg-inherit md:hover:bg-inherit
      rounded py-2 px-3 sm:py-3 sm:px-4 md:py-4 md:px-0
      text-sm sm:text-lg;
  }

  .animated-underline {
    @apply
      after:hidden md:after:block
      after:h-[2px] after:bg-color-50 after:mt-1
      after:w-0 hover:after:w-full
      after:duration-300
      relative after:absolute;
  }

  /* gradientes do botão */
  .primary-gradient-1 {
    @apply from-primary-500 to-primary-600;
  }

  .primary-gradient-2 {
    @apply from-primary-500 to-primary-700;
  }

  .botao {
    @apply
      uppercase text-base md:text-lg
      inline-block rounded
      max-w-max
      py-3 px-4 md:py-4 md:px-8
      bg-gradient-to-b primary-gradient-1 hover:primary-gradient-2
    text-primary-950 font-poppins font-semibold;
  }

  .botao.secundario {
    @apply
      bg-none bg-color-800 hover:bg-color-700 text-color-200;
  }

    /* todas imagens com border-radius */
  img[src$='.jpg'] {
    @apply rounded;
  }

  /* decoração da lista de bicicletas */
  .decoration-bike-list {
    @apply
      before:inline-block
      before:h-2 before:w-3
      before:mr-2
      before:bg-primary-500
      before:duration-200;
  }

  .bicicleta-lista-link:hover .decoration-bike-list {
    @apply before:w-6;
  }

  .parceiros-grid-border {
    @apply
    border-color-200
      /* small screen */
      even:border-l-2
      [&:nth-child(n+3)]:border-t-2
      /* above md breakpoint */
      md:border-l-2
      md:first:border-l-0 md:[&:nth-child(5)]:border-l-0
      md:[&:nth-child(n+3)]:border-t-0
      md:[&:nth-child(n+5)]:border-t-2;
  }

  /* decoração do quote */
  .decoration-quote {
    @apply
      /* abre aspas */
      before:content-['“']
      before:text-8xl
      before:text-primary-600
      before:absolute before:-left-14 before:-top-5
      /* fecha aspas */
      after:content-['”']
      after:text-8xl
      after:text-primary-600
      after:absolute;
  }

  /* decoração lista de benefícios do seguro */
  .seguros-item ul > li {
    @apply
      before:inline-block before:w-[13px] before:h-[9px]
      before:bg-[url('./img/icones/lista.svg')]
      flex items-center
      relative before:absolute
      before:-left-5
  }

  footer a {
    @apply hover:text-color-50;
  }

  /* tipografia */
  .font-poppins {
    @apply font-['Poppins'];
  }

  .font-1-xs {
    @apply font-poppins text-sm;
  }

  .font-1-s {
    @apply font-poppins text-base;
  }

  .font-1-m {
    @apply font-poppins text-lg;
  }

  .font-1-l {
    @apply font-poppins text-2xl
  }

  .font-1-xl {
    @apply
      font-poppins font-semibold
      text-2xl md:text-3xl lg:text-4xl;
  }

  .font-1-xxl {
    @apply
      font-poppins font-semibold
      text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
  }

  /* detalhe do ponto final */
  .font-1-xxl > span {
    @apply text-primary-500;
  }

  .text-subtitle-responsive {
    @apply
      uppercase
      text-lg lg:text-2xl
      tracking-wide
      font-medium
      text-color-500;
  }

  .font-2-xs {
    @apply text-sm;
  }

  .font-2-s {
    @apply text-base;
  }

  .font-2-m {
    @apply text-xl font-medium;
  }

  .font-2-l {
    @apply text-xl xl:text-2xl;
  }

  .font-2-xl {
    @apply text-4xl font-medium;
  }
}
