@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-container {
    @apply max-w-6xl mx-auto px-5;
  }

  .font-poppins {
    @apply font-['Poppins'];
  }

  .header-menu a {
    @apply
      inline-block
      bg-color-900 hover:bg-color-800 md:bg-inherit md:hover:bg-inherit
      rounded py-2 px-3 sm:py-3 sm:px-4 md:py-4 md:px-0
      text-sm sm:text-lg;
  }

  .animated-underline {
    @apply
      after:hidden md:after:block
      after:h-[2px] after:bg-color-50 after:mt-1
      after:w-0 hover:after:w-full
      after:duration-300
      relative after:absolute;
  }

  .text-title-responsive {
    @apply
      text-4xl md:text-5xl lg:text-6xl xl:text-7xl
      font-poppins font-semibold;
  }

  .text-subtitle-responsive {
    @apply
      uppercase
      text-lg lg:text-2xl
      tracking-wide
      font-medium
      text-color-500;
  }

  /* detalhe do ponto final */
  .text-title-responsive > span {
    @apply text-primary-500;
  }

  /* gradientes do botão */
  .primary-gradient-1 {
    @apply from-primary-500 to-primary-600;
  }

  .primary-gradient-2 {
    @apply from-primary-500 to-primary-700;
  }

  /* todas imagens com border-radius */
  img[src$='.jpg'] {
    @apply rounded;
  }

  /* decoração da lista de bicicletas */
  .decoration-bike-list {
    @apply
      before:inline-block
      before:h-2 before:w-3
      before:mr-2
      before:bg-primary-500
      before:duration-200;
  }

  .bicicleta-lista-link:hover .decoration-bike-list {
    @apply before:w-6;
  }
}
